
@{
    ViewBag.Title = "City";
}


<link href="~/Content/StylrViews/City.css" rel="stylesheet" />
<link href="~/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css" rel="stylesheet" />
<link href="~/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css" rel="stylesheet" />

<section>
    <div class="divRow1NewsPageStyle">
        <div class="divInRow1TheRow1TextNewsPageStyle text-center">
            <p class="textInRow1TheRow1TextNewsPageStyle"></p>
        </div>
        <div class="divInRow1TheRow2NewsPageStyle">
            <div class="ShowCitySeletOne">
            </div>
        </div>
        @*<%--Owl1--%>*@
        <div class="OwlCityDestinationsOwl1">
        </div>
        @*<%--Owl2--%>*@
        <div class="OwlCityDestinationsOwl2">
        </div>
        @*<%--Owl3--%>*@
        <div class="OwlCityDestinationsOwl3">
        </div>
    </div>
</section>


@section scripts{
    <script src="~/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
    <script src="~/Scripts/ScriptViews/City.js"></script>
   
}



