
@{
    ViewBag.Title = "Collaborate";
}


<link href="~/Content/StylrViews/Collaborate.css" rel="stylesheet" />
<section>
    @section SliderPage{
        <section>
            <img id="Img1SliderPageContactUs" src="~/Resources/En/ContactUs/ContactUs-01.png" class="Img1SliderPageContactUsStyle" alt="ContactUs Image Tourism" title="ContactUs Image Tourism" />
            <img id="Img2SliderPageContactUs" src="~/Resources/En/ContactUs/ContactUs-02.png" class="Img2SliderPageContactUsStyle" alt="ContactUs Image Tourism" title="ContactUs Image Tourism" />
            <img id="Img3SliderPageContactUs" src="~/Resources/En/ContactUs/ContactUs-03.png" class="Img3SliderPageContactUsStyle" alt="ContactUs Image Tourism" title="ContactUs Image Tourism" />
            <img id="Img4SliderPageContactUs" src="~/Resources/En/ContactUs/ContactUs-04.png" class="Img4SliderPageContactUsStyle" alt="ContactUs Image Tourism" title="ContactUs Image Tourism" />
            <img id="Img5SliderPageContactUs" src="~/Resources/En/ContactUs/ContactUs-05.png" class="Img5SliderPageContactUsStyle" alt="ContactUs Image Tourism" title="ContactUs Image Tourism" />
            <img id="Img6SliderPageContactUs" src="~/Resources/En/ContactUs/ContactUs-06.png" class="Img6SliderPageContactUsStyle" alt="ContactUs Image Tourism" title="ContactUs Image Tourism" />
            <img id="Img7SliderPageContactUs" src="~/Resources/En/ContactUs/ContactUs-07.png" class="Img7SliderPageContactUsStyle" alt="ContactUs Image Tourism" title="ContactUs Image Tourism" />
            <img id="Img8SliderPageContactUs" src="~/Resources/En/ContactUs/ContactUs-08.png" class="Img8SliderPageContactUsStyle" alt="ContactUs Image Tourism" title="ContactUs Image Tourism" />
        </section>
    }
</section>

<section>
    <div class="divRow1ContactUsPageStyle">
        <div class="divInRow1TheRow1TextContactUsPageStyle text-center">
            <p class="textInRow1TheRow1TextContactUsPageStyle"></p>
        </div>
        <div class="divInRow1TheRow2ContactUsPageStyle">
            <div class="ShowAllEditorText">

            </div>
            <div class="row" style="padding: 2em 5em;">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    آپلود فرم
                    <input type="file" name="Fileinput" id="Fileinput" value="" accept=".pdf,.doc" />
                    <a id="sendFile" class="btn btn-info">Send File </a>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    دانلود فرم
                    <a class="btn btn-success" href="/Resources/Collaborate/Form/Collaborate.zip" download>
                        <i class="glyphicon glyphicon-download"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>



    <div class="divAdd5upinfooter">
    </div>
</section>


@section scripts{

    <script src="~/Scripts/ScriptViews/Collaborate.js"></script>
    <script>
        var Number1Ads = 1046;
        var Number2Ads = 1047;
        var Number3Ads = 1048;
        var Number4Ads = 1049;
        var Number5Ads = 1050;
    </script>
}



