
@{
    ViewBag.Title = "Event";
}

<link href="~/Content/StylrViews/Event.css" rel="stylesheet" />
<section>
    @section SliderPage{
        <section>
            <img id="Img1SliderPageEvent" src="/Resources/En/Event/event-01.png" class="Img1SliderPageEventStyle" alt="Event Image Tourism" title="Event Image Tourism" />
            <img id="Img2SliderPageEvent" src="/Resources/En/Event/event-02.png" class="Img2SliderPageEventStyle" alt="Event Image Tourism" title="Event Image Tourism" />
            <img id="Img3SliderPageEvent" src="/Resources/En/Event/event-03.png" class="Img3SliderPageEventStyle" alt="Event Image Tourism" title="Event Image Tourism" />
            <img id="Img4SliderPageEvent" src="/Resources/En/Event/event-04.png" class="Img4SliderPageEventStyle" alt="Event Image Tourism" title="Event Image Tourism" />
            <img id="Img5SliderPageEvent" src="/Resources/En/Event/event-05.png" class="Img5SliderPageEventStyle" alt="Event Image Tourism" title="Event Image Tourism" />
        </section>
    }
</section>
<section>
    <div class="divRow1EventPageStyle list-wrapper">
        <div class="divInRow1TheRow1TextEventPageStyle text-center">
            <p class="textInRow1TheRow1TextEventPageStyle">Event</p>
        </div>
    </div>
  
    <div id="pagination-container"></div>
    <div class="divAdd5upinfooter">
    </div>
</section>
@section scripts{
    <script src="~/Scripts/ScriptViews/Event.js"></script>
    <script>
        var Number1Ads = 1031;
        var Number2Ads = 1032;
        var Number3Ads = 1033;
        var Number4Ads = 1034;
        var Number5Ads = 1035;
    </script>

}



