
@{
    ViewBag.Title = "NewsMain";
}

<link href="~/Content/StylrViews/NewsMain.css" rel="stylesheet" />

<section>
    <div class="divRow1NewsPageStyle">
        <div class="divInRow1TheRow1TextNewsPageStyle text-center">
            <p class="textInRow1TheRow1TextNewsPageStyle"></p>
        </div>

        <div class="divInRow1TheRow2NewsPageStyle">

            <div id="NewsMainPageDiv" class="">
            </div>
        </div>

    </div>
</section>




@section scripts{
    <script src="~/Scripts/ScriptViews/News-Main.js"></script>
}

