
@{
    ViewBag.Title = "News";
}


<link href="~/Content/StylrViews/News.css" rel="stylesheet" />
<section>
    @section SliderPage{
        <section>
            <img id="Img1SliderPageNews" src="/Resources/En/News/News-01.png" class="Img1SliderPageNewsStyle" alt="News Image Tourism" title="News Image Tourism" />
            <img id="Img2SliderPageNews" src="/Resources/En/News/News-02.png" class="Img2SliderPageNewsStyle" alt="News Image Tourism" title="News Image Tourism" />
            <img id="Img3SliderPageNews" src="/Resources/En/News/News-03.png" class="Img3SliderPageNewsStyle" alt="News Image Tourism" title="News Image Tourism" />
            <img id="Img4SliderPageNews" src="/Resources/En/News/News-04.png" class="Img4SliderPageNewsStyle" alt="News Image Tourism" title="News Image Tourism" />
            <img id="Img5SliderPageNews" src="/Resources/En/News/News-05.png" class="Img5SliderPageNewsStyle" alt="News Image Tourism" title="News Image Tourism" />
            <img id="Img6SliderPageNews" src="/Resources/En/News/News-06.png" class="Img6SliderPageNewsStyle" alt="News Image Tourism" title="News Image Tourism" />
            <img id="Img7SliderPageNews" src="/Resources/En/News/News-07.png" class="Img7SliderPageNewsStyle" alt="News Image Tourism" title="News Image Tourism" />
            <img id="Img8SliderPageNews" src="/Resources/En/News/News-08.png" class="Img8SliderPageNewsStyle" alt="News Image Tourism" title="News Image Tourism" />
            <img id="Img9SliderPageNews" src="/Resources/En/News/News-09.png" class="Img9SliderPageNewsStyle" alt="News Image Tourism" title="News Image Tourism" />
            <img id="Img10SliderPageNews" src="/Resources/En/News/News-10.png" class="Img10SliderPageNewsStyle" alt="News Image Tourism" title="News Image Tourism" />
            <img id="Img12SliderPageNews" src="/Resources/En/News/News-12.png" class="Img12SliderPageNewsStyle" alt="News Image Tourism" title="News Image Tourism" />
            <img id="Img13SliderPageNews" src="/Resources/En/News/News-13.png" class="Img13SliderPageNewsStyle" alt="News Image Tourism" title="News Image Tourism" />
        </section>
    }
</section>

<section>
    <div class="divRow1NewsPageStyle list-wrapper">
        <div class="divInRow1TheRow1TextNewsPageStyle text-center">
            <p class="textInRow1TheRow1TextNewsPageStyle">NEWS</p>
        </div>
    </div>

    <div id="pagination-container"></div>
    <div class="divAdd5upinfooter">
    </div>
</section>


@section scripts{
    <script src="~/Scripts/ScriptViews/News.js"></script>
    <script>
        var Number1Ads = 1021;
        var Number2Ads = 1022;
        var Number3Ads = 1023;
        var Number4Ads = 1024;
        var Number5Ads = 1025;
    </script>
}



